header {
  background-color: #03a3df;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
li {
  padding: 1em;
}
.index:hover {
  color: white;
  font-size: 22px;
  font-weight: bold;
  transition-property: font-size; font-weight;
  transition-delay: 0s;
}
.our-team:hover {
  color: white;
  font-size: 22px;
  font-weight: bold;
  transition-property: font-size; font-weight;
  transition-delay: 0s;
}
.schedule:hover {
  color: white;
  font-size: 22px;
  font-weight: bold;
  transition-property: font-size; font-weight;
  transition-delay: 0s;
}
.header {
  display: grid;
  grid-template-columns:  20% 70% 10%;
  /*grid-template-columns:  50% 50%;*/
  grid-column-gap: 20em;
}
.menu {
    padding: .5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.logo {
  padding: 1em;
}
a:link {
  color: white;
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
}
a:visited {
  color: white;
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
}
footer {
  width: 100%;
  height: 400px;
  background-image: url("design-elements/footerImage.jpg");
}

h1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    padding-left: .5em;
}
h2 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial;
    padding-left: .75em;
}
h3 {
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    padding-left: 1em;
}
.footerimg {
  padding-top: 5em;
  padding-left: 5em;
  height: 20%;
}
.footer {
  padding: 1em 5em .5em 5em;
  color: white;
  font-size: 15px;
  font-family: Arial;
}
.grid-container {
  padding-left: 2em;
  display: grid;
  grid-column-gap: 4em;
  grid-template-columns: 50% 25%;
  grid-template-rows: 50% 50%;
}
.about-us {
  font-size: 17px;
  font-family: Arial;
  padding-left: 1em;
}
.aside {
  font-size: 30px;
  font-family: Arial;
  color: #03a3df;
}
.grid-container-teachers {
  padding: 3em 3em 3em 3em;
  display: grid;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
}
img {
  padding-left: 2em;
}
.giap {
  grid-column-start: 1;
  background-color: #1182E6;
  color: white;
}
.derek {
  grid-column-start: 2;
  background-color: #1182E6;
  color: white;
}
.nathan {
  background-color: #1182E6;
  color: white;
}
.amy {
  background-color: #1182E6;
  color: white;
}
.name {
  color: white;
}
.instructor {
  padding-left: 2em;
  padding-right: 2em;
}
p {
  font-family: Arial;
}
.address {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
.phone {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
}
.who-we-are {
  padding-left: 2em;
  padding-right: 3em;
}
.details {
  font-size: 17px;
  font-family: Arial;
  padding: .15em;
}
.learn-with-us {
  padding-left: 2em;
  padding-right: 5em;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input, textarea, label {
  font-family: Arial;
  font-size: 17px;
  box-sizing: border-box;
  padding-left: 2em;
  padding-bottom: .25em;
  display: flex;
  flex-direction: column;
  width: 40rem;
}
